* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

@media (max-width: 1023px) {

    .main_nav {
        position: fixed;
        width: 100vw;
        height: 8vh;
        background-color: #0a0a0a;
        display: flex;
        align-items: center;
        /* background-color: lab(15.204% 0 -.00000596046); */
    }

    .nav_left {
        padding: 20px 40px;

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;

            a {
                color: #ffffff;
                font-family: sans-serif;
                font-weight: bolder;
            }

            .Home:hover {
                color: #ffffff;
                font-family: sans-serif;
                font-weight: bolder;
                text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff;
            }

            .docs:hover {
                color: #ffffff;
                font-family: sans-serif;
                font-weight: bolder;
                text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff;
            }

            .about:hover {
                color: #ffffff;
                font-family: sans-serif;
                font-weight: bolder;
                /* text-shadow: 0px 0px 10px 0px #ffffff; */
                text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff;
            }
        }
    }

    .page1 {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom, #0a0a0a, #0c0c0c);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: #ffffff;
            font-size: large;
            font-weight: bold;
            font-family: sans-serif;
        }

        h6 {
            /* padding: 10px 50px 10px 50px; */
            color: #ffffff;
            text-align: center;
            font-family: sans-serif;
        }

        .button_page1 {
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: center;

            a {
                padding: 10px;
                border-radius: 8px;
                border: #ffffff 1px solid;
                background-color: #262626;
                color: #ffffff;
                font-family: sans-serif;
                font-weight: bolder;
            }

            a:hover {
                padding: 10px;
                border-radius: 8px;
                border: #ffffff 1px solid;
                background-color: #262626;
                color: #ffffff;
                box-shadow: 0px 0px 10px 0px #ffffff;
            }
        }

    }

    .page2 {
        width: 100vw;
        height: 100vh;
        background-color: #0c0c0c;

    }

    .footer_main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 15vh;
        background-color: #262626;

        p {
            /* font-weight: lighter; */
            font-size: 10px;
            color: #ffffff;
        }

        a {
            color: #ffffff;
            border-bottom: #ffffff 1px solid;
        }
    }

}